.contactBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120px;
  left: 0px;
  .oneTitle {
    width: 85%;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
    font-size: 18px;
    .bbb {
      color: #014aaa;
    }
    .aaa {
      font-size: 14px;
    }
  }
  .twotitle {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    p {
      width: 85%;
      height: 50px;
      margin: 0 auto;
      line-height: 50px;
      background-color: #e5ecf6;
      padding-left: 10px;
      font-size: 18px;
    }
  }
  .contact-map {
    width: 85%;
    height: 450px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .informationBox {
    width: 100%;
    height: 160px;
    margin-top: 50px;
    .information {
      width: 85%;
      height: 100%;
      margin: 0 auto;
    }
  }
}
