.xuanxiang {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  .xuanxiang_top {
    display: flex;
    width: 100%;
    div {
      width: 33%;
      display: flex;
      justify-content: space-around;
      background-color: #252525;
      height: 20%;
      font-size: 20px;
      color: #fff;
      line-height: 115px;
    }
    .cewsa {
      background: #001b67a8;
    }
  }
  .block {
    display: block !important;
  }
  .xuanxiang_con {
    width: 100%;
    height: 70%;
    display: none;
    .xuanxiang_con_left {
      width: 50%;
      height: 100%;
      padding: 50px 8%;
      float: left;

      ul {
        margin-top: 30px;
        list-style: none;
        font-size: 20px;
      }
      .biao {
        width: 60px;
        background-color: #fdb913;
        height: 3px;
        margin: 15px 0;
      }
      .xuanxiang_con_title {
        font-size: 24px;
        font-weight: bold;
      }
      .button {
        width: 30%;
        height: 15%;
        line-height: 60px;
        font-size: 20px;
        background-color: #fdb913;
        border: 1px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 60px;
      }
    }
    .xuanxiang_con_right {
      width: 49%;
      height: 100%;
      background-color: #ebebeb;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60%;
        height: 80%;
        margin: 30% 10%;
      }
    }
  }
}
.ant-carousel .slick-dots-bottom {
  bottom: 12px;
  width: 133%;
}
