
a {
  color: #000 !important;
}
.navBox {
  width: 100%;
  height: 110px;
  .navtab {
    width: 80%;
    height: 80px;
    display: flex;
    float: left;
    background-color: #fff;
    // background-color: blueviolet;
    .navlogo {
      width: 18%;
      height: 40px;
      margin-top: 20px;
      margin-left: 150px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    ul {
      width: 50%;
      height: 80px;
      margin-left: 165px;
      display: flex;
      justify-content: space-between;
      line-height: 80px;
    }
  }
  .iconBox {
    width: 20%;
    height: 80px;
    line-height: 80px;
    float: left;
    .icon1 {
      font-size: 29px;
      margin-left: 56px;
      //   color: #fff;
      color: #000;
    }
    .icon2 {
      font-size: 22px;
      margin-left: 50px;
      //   color: #fff;
      color: #000;
    }
  }
}
